    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:25
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-clicker:before { content: "\f100"; }
.flaticon-cursor:before { content: "\f101"; }
.flaticon-cursor-1:before { content: "\f102"; }
.flaticon-cursor-2:before { content: "\f103"; }
.flaticon-cursor-3:before { content: "\f104"; }
.flaticon-drag:before { content: "\f105"; }
.flaticon-drag-1:before { content: "\f106"; }
.flaticon-forbidden-cursor:before { content: "\f107"; }
.flaticon-hand-move:before { content: "\f108"; }
.flaticon-move-arrows:before { content: "\f109"; }
.flaticon-navigation-arrows:before { content: "\f10a"; }
.flaticon-pointer:before { content: "\f10b"; }
.flaticon-question-mark-cursor:before { content: "\f10c"; }
.flaticon-scroll:before { content: "\f10d"; }
.flaticon-type:before { content: "\f10e"; }
.flaticon-wait:before { content: "\f10f"; }
.flaticon-wait-cursor:before { content: "\f110"; }
.flaticon-waiting:before { content: "\f111"; }
.flaticon-zoom-in:before { content: "\f112"; }
.flaticon-zoom-out:before { content: "\f113"; }
    
    $font-Flaticon-clicker: "\f100";
    $font-Flaticon-cursor: "\f101";
    $font-Flaticon-cursor-1: "\f102";
    $font-Flaticon-cursor-2: "\f103";
    $font-Flaticon-cursor-3: "\f104";
    $font-Flaticon-drag: "\f105";
    $font-Flaticon-drag-1: "\f106";
    $font-Flaticon-forbidden-cursor: "\f107";
    $font-Flaticon-hand-move: "\f108";
    $font-Flaticon-move-arrows: "\f109";
    $font-Flaticon-navigation-arrows: "\f10a";
    $font-Flaticon-pointer: "\f10b";
    $font-Flaticon-question-mark-cursor: "\f10c";
    $font-Flaticon-scroll: "\f10d";
    $font-Flaticon-type: "\f10e";
    $font-Flaticon-wait: "\f10f";
    $font-Flaticon-wait-cursor: "\f110";
    $font-Flaticon-waiting: "\f111";
    $font-Flaticon-zoom-in: "\f112";
    $font-Flaticon-zoom-out: "\f113";